{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>

<form method="POST" novalidate>
    <!--adds csrf to the chenage password page-->
    {{ form.csrf_token }}

    <p>
        {{ form.currPassword.label }}<br> {{ form.currPassword }}
        <!-- show validation errors under each field-->
        {% for error in form.currPassword.errors %}
            <br><span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.newPassword.label }}<br> {{ form.newPassword }}
        {% for error in form.newPassword.errors %}
            <br><span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>

</form>
{% endblock %}
